/* .page-header sl-tab[data-active-tab]::part(base) {
  background-color: blue;
} */

.page-header[data-theme="welcome"] {
  color: var(--color-light-50);
  background-color: transparent;
  & .search-controls {
    color: var(--color-dark-950);
  }
}

.page-header[data-theme="products"] {
  background-color: var(--color-light-50);
  color: var(--color-dark-950);
  /* box-shadow: 0 0 10px black; */
  /* border-bottom: 2px solid var(--color-light-200); */
  & input {
    background-color: black;
    box-shadow: none;
  }
}

.page-header[data-theme="products"] sl-button::part(label),
.page-header[data-theme="contact"] sl-button::part(label) {
  color: var(--color-dark-950);
}

.page-header[data-theme="about"] sl-button::part(label),
.page-header[data-theme="welcome"] sl-button::part(label) {
  color: var(--color-light-50);
}

.page-header[data-theme="about"] {
  background-color: var(--color-dark-950);
  /* color: var(--color-light-50); */
  & input {
    color: var(--color-light-50);

    background-color: black;
    box-shadow: none;
  }
}

.page-header[data-theme="contact"] {
  background-color: var(--color-light-50);
  color: var(--color-dark-950);
  /* border-bottom: 2px solid var(--color-light-200); */

  & input {
    box-shadow: none;
    border: 2px solid var(--color-light-200);
  }
}

.page-header {
  transform: translateY(-100%);
  /* transition: transform var(--transition-base); */
  /* display: none; */
}

.page-header.visible {
  transform: translateY(0);
}

.page-header [data-active-tab] {
  border-bottom: 3px solid var(--color-primary-600);
  /* background-color: blue; */
}

.page-header .header-links {
  display: flex;
  gap: var(--gutter);
}

.page-header .header-links a {
  color: currentColor;
  text-decoration: none;
  transition: color var(--transition-base);
}

.page-header .header-links:has(a:hover) {
  & a:not(:hover) {
    color: var(--color-light-400);
  }
}
.page-header .header-links:has(a:focus) {
  & a:not(:focus) {
    color: var(--color-light-400);
  }
}

/* .page-header ::part(base) {


 

} */

.page-header sl-button::part(label) {
  color: var(--color-light-50);
  padding: 0;
  & svg {
    aspect-ratio: 1/1;
  }
}

.page-header sl-button::part(base) {
  padding: var(--space-2xs);
  font-size: var(--step-1);
  border: none;
  background: transparent;
}

.page-header .sidenav-links {
  display: flex;
  flex-direction: column;
  gap: var(--gutter);
  background: var(--color-light-50);
  border-radius: var(--radius);
  padding: var(--space-xs);
  box-shadow: 0 0 10px var(--color-dark-800);
}
.page-header .sidenav-links a {
  color: var(--color-dark-950);
  text-decoration: none;
}

/* .tabs:has(li:hover) {
  & li:not(:hover) {
    color: lch(from currentColor calc(l+10) c h / 0.4);
  }
}
.tabs:has(li > a:focus) {
  & li:has(a:not(:focus)) {
    color: lch(from currentColor calc(l+10) c h / 0.4);
  } */
/* .page-header sl-tab::part(active-tab-indicator) {
  background-color: blue;
  height: 20px;
  width: 20px;
} */

/* header */
.tabs {
  column-gap: var(--space-xs);
}

.tabs li {
  display: flex;
  width: 100%;
}

.tabs li a {
  color: inherit;
  width: 100%;
  user-select: none;
  padding: var(--space-2xs);
  position: relative;
  text-decoration: none;
  transition: color var(--transition-base);
  font-size: var(--step-0);
  &[data-active-tab]::after {
    opacity: 1;
  }
}

.tabs li a::after {
  transition: margin var(--transition-movement);
}

.tabs li a::after {
  content: "";
  width: 100%;
  height: 4px;
  background: var(--color-primary-500);
  position: absolute;
  bottom: 0;
  left: 0;
  opacity: 0;
  pointer-events: none;
}

.tabs[data-sidenav-tabs] li a {
  padding: var(--space-s);
  &[data-active-tab] {
    background-color: lch(from var(--color-primary-500) l c h / 0.2);
  }
}

.tabs[data-sidenav-tabs] li a::after {
  width: 8px;
  height: 100%;
}

/* .tabs:has(li:hover) {
  & li:not(:hover) {
    color: lch(from currentColor calc(l+10) c h / 0.4);
  }
}
.tabs:has(li > a:focus) {
  & li:has(a:not(:focus)) {
    color: lch(from currentColor calc(l+10) c h / 0.4);
  }
} */

.page-header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  /* height: var(--header-h); */
  /* max-width: 100%; */
  z-index: 10;
  color: var(--color-light-50);
  backdrop-filter: blur(10px);
  transition: background-color var(--transition-base),
    color var(--transition-base), transform var(--transition-base);
}

@media (any-hover: hover) {
  .page-header {
    width: calc(100% - var(--scrollbar-width));
  }
}

.page-header > div {
  height: var(--header-h);
}

.page-header nav {
  height: 100%;
}

.sidenav-modal {
  width: 90vw;
  max-width: 350px;
}

.sidenav-modal header {
  padding: var(--space-s);
}

.sidenav-modal .branding {
  margin-block-start: var(--space-s);
  margin-block-end: var(--space-s);
}
.sidenav-modal ul a {
  font-size: var(--step-2);
}
/* .sidenav-modal svg {
  min-height: 1.5rem;
} */
.sidenav-modal > div {
  height: 100%;
  display: flex;
  flex-direction: column;
}
.sidenav-modal > div > nav {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

/*  */
/*  */
/*  */
/*  */
/* .page-header nav ul {
  column-gap: 1rem;
} */

.sidenav__controls {
  border-top: 2px solid var(--clr-bg-mod-2);
  /* background-color: var(--clr-bg-mod-2); */
}

.sidenav__links {
  display: flex;
  justify-content: space-between;
}

.sidenav__links a {
  flex: 1;
  display: flex;
  justify-content: center;
  /* align-items: center; */
  gap: var(--space-2xs);
}

/* .sidenav {
  justify-self: start;
  & > ul {
    display: none;
    flex-direction: column;
    gap: 1rem;
    list-style: none;
  }
} */

/* .sidenav__modal {
  width: 100%;
  height: 100%;
} */

/* .sidenav ul li {
  transition: var(--transition-base);
  & a {
    text-decoration: none;
  }
  & a[data-js-tab-active="true"] {
    border-bottom: 3px solid var(--clr-primary-500);
  }
} */

/* .page-header nav ul li {
  display: flex;
  width: 100%;
} */

/* .page-header nav ul li a {
  user-select: none;
  padding: 0.5rem;
  position: relative;
  text-decoration: none;
  transition: color var(--transition-base);
  font-size: var(--fs-step-1);
  &[data-js-tab-active]::after {
    opacity: 1;
  }
} */

/* .page-header nav ul li a::after {
  content: "";
  width: 100%;
  height: 4px;
  background: var(--clr-primary-500);
  position: absolute;
  bottom: 0;
  left: 0;
  opacity: 0;
  pointer-events: none;
} */

/* ul:has(li:hover) {
  & li:not(:hover) {
    &:has(a[data-variant="tabnav"]) {
      color: lch(from currentcolor calc(l + 10) c h / 0.4);
    }
  }
}

ul:has(li[data-variant="tabnav"] > a:focus) {
  & li:has(a:not(:focus)) {
    color: lch(from currentcolor calc(l + 10) c h / 0.4);
  }
} */

/* .page-header__btns {
  display: flex;
  gap: var(--space-s);
} */

/* .searchbar__trigger {
  display: none;
} */

/* .nav__top { */
/* position: sticky; */
/* top: 0; */
/* border-bottom: 2px solid 
var(--clr-light-100); */
/* } */

/* .nav__top nav { */
/* display: flex; */
/* align-items: center; */
/* gap: var(--gutter-0-32); */
/* margin-left: auto; */
/* margin-right: auto; */
/* height: 100%; */
/* } */

/* .nav__top .menu {
  width: min(300px, 90vw);
  background-color: #fff;
  transform: translateX(-100%);
  margin-right: auto;
  margin-top: auto;
  margin-bottom: auto;
  transition: var(--transition-ease);
} */

/* tab nav */
/* .nav__top .menu ul {
  list-style: none;
  width: 100%;
  height: max-content;
  & li {
    display: flex;
    width: 100%;
  }
} */

/* .nav__top .menu a {
  text-decoration: none;
  user-select: none;
  padding: var(--space-s);
  width: 100%;
  font-size: var(--fluid-24-28);

  color: var(--clr-primary-950);
  transition: background-color 0.1s ease-in-out;
  &:active {
    color: var(--clr-primary-400);
    background-color: rgb(from var(--clr-primary-950) r g b / 0.05);
  }
  &:hover {
    background-color: hsl(from var(--clr-light) h s calc(l - 10));
  }
} */

/* .nav__top a[data-menu-tab-active="true"] { */
/* inset box shadow on one side only: https://stackoverflow.com/a/5115490 */
/* box-shadow: inset var(--fluid-8-12) 0 0 0 var(--clr-primary-200); */
/* color: var(--clr-primary-400); */
/* } */
/* \ tab nav */

/* .nav__btns {
  margin-left: auto;
  display: flex;
  gap: var(--gutter-0-16);
  font-size: var(--size-step-4);
} */

/* nav search */
.searchbar__backdrop {
  /* z-index: 100; */
  backdrop-filter: blur(10px);
  background-color: transparent;
}

.searchbar__backdrop[data-visible="true"] .nav__searchbar {
  transform: none;
}

/* .lightbox:target .nav__searchbar {
  visibility: visible;
  pointer-events: auto;
  transform: translate(0);
  opacity: 1;
} */
/* .nav__searchbar {
  opacity: 0;
  visibility: hidden;
  display: flex;
  margin-left: auto;
  margin-right: auto;
  margin-top: var(--mt-64-80);
  width: min(60ch, 90%);
  background-color: var(--clr-light);
  border-radius: 1rem;
  box-shadow: 0 5px 10px 0 rgb(from var(--clr-dark-950) r g b / 0.5);
  overflow: hidden;
  transform: scale(0.9) translate(10px);
  transition: var(--transition-fade);
} */

.nav__searchbar input {
  outline: 0;
  border: none;
  width: 100%;
  padding: var(--space-s);
  color: var(--clr-dark-950);
  background-color: transparent;
}

.nav__searchbar button {
  outline: 0;
  border: none;
  padding: var(--space-s);
  cursor: pointer;
  color: var(--clr-primary-950);
  background-color: var(--clr-light-100);
  transition: var(--transition-fade);
  &:active {
    color: var(--clr-primary-400);
  }
}
/* \ nav search */
/* \ header */

/* search controls */

.page-header {
  height: var(--header-h);
}

[data-dialog="searchbar"]::part(panel) {
  width: min(40rem, 100%);
}

[data-dialog="searchbar"]::part(base) {
  z-index: 90;
}

[data-dialog="searchbar"] .modal__container {
  background-color: transparent;
  padding: 0;
}

.search-controls {
  /* transform: translateY(calc(-1 * calc(2 * var(--header-h)))); */
  /* min-height: var(--header-h); */
  width: min(40rem, 100%);
  margin-inline: auto;

  /* backdrop-filter: blur(10px); */
  /* margin-inline: auto; */
  transition: transform var(--transition-base), opacity var(--transition-base);
  /* opacity: 0; */
}

#searchbar {
  width: 100%;
}

.searchbar-form {
  outline: none;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 100%;
  /* padding-inline: auto; */
  /* padding-top: 0.5rem; */
}

.searchbar-form input {
  outline: none;
  width: calc(100% - calc(var(--space-s) * 2));
  height: fit-content;
  padding: var(--space-xs);
  border-radius: var(--radius);
  border: none;
  padding-left: 3.6rem;
  /* box-shadow: 0 0 10px var(--color-dark-800); */

  /* flex-grow: 1; */
  /* width: ; */
}

@media (any-hover: hover) {
  .searchbar-form input {
    padding-left: 4.5rem;
  }
  /* .search-controls {
  margin-inline: var(--space-m);

} */
}

.searchbar-form button {
  position: absolute;
}

.searchbar-form [data-trigger-modal] {
  /* background-color: var(--color-light-300); */
  color: var(--color-dark-950);
  right: calc(var(--space-s) + 1rem);
  width: fit-content;
  border: none;
  padding: var(--space-xs);

  & svg {
    width: fit-content;
  }

  &:hover,
  &:focus {
    background-color: var(--color-light-200);
  }
}

@media (any-hover: hover) {
  .searchbar-form [data-trigger-modal] {
    /* padding: 0; */
    background-color: var(--color-light-300);
    padding: var(--button-padding, var(--space-2xs, 0.8em) var(--space-m, 2em));
    padding-inline: var(--space-s);
    &:hover,
    &:focus {
      background-color: var(--color-light-400);
    }
  }
}

.searchbar-form .button[data-variant="search"] {
  left: calc(var(--space-m));
  border-radius: 10rem;
  background-color: transparent;
  color: currentColor;
  /* &:hover {
    background-color: var(--color-light-200);
  } */
}

/* .search-controls.visible {
  transform: translateY(0);
  opacity: 1;
} */

.page-header [data-variant="open-searchbar"] {
  background: var(--color-dark-950);
  color: var(--color-light-50);
  width: fit-content;
  padding: var(--space-xs);
  font-size: var(--step-0);
  &:hover {
    background-color: var(--color-dark-800);
  }
  /* width: 40px; */
  /* aspect-ratio: 1/1; */
  /* width: ; */
}

/* search controls */
